.bs-btn {
    &.typ-lang {
        color: $clr-grey;
        font-size: 16px;
        line-height: 1.2;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        .icon {
            font-size: 20px;
        }
    }

    &.typ-purple-gradient{
        @include purple-linear-gradient;
        padding: 18px 33px;
        color: $clr-white;
        text-transform: uppercase;
        border-radius: 36px;
        font-size: 15px;
        line-height: 1.3;
    }
    
    &.typ-outline-white{
        color: $clr-white;
        font-size: 15px;
        line-height: 1.3;
        font-family: $fnt1;
        border-radius: 36px;
        text-transform: uppercase;
        padding: 18px 33px;
        border: 1px solid $clr-white;
    }
}
