
$clr-white: #FFFFFF;
$clr-grey: #848895;
$clr-grey1: #C4C4C4;
$clr-grey2: #BABABA;
$clr-black: #000000;
$clr-black1: #19161C;
$clr-black2: #111111;
$clr-black3: rgba(0, 0, 0, 0.6);
$clr-black4: #141414;
$clr-blue-dk: #000508;



$fnt1: "Roboto", serif;

